[class~="data-[state=open]:animate-in"][data-state="open"] {
  animation-name: enter;
  animation-duration: var(--tw-animation-duration, var(--tw-duration, 0.15s));
  animation-timing-function: var(--tw-ease, ease);
  animation-delay: var(--tw-animation-delay, 0s);
  animation-iteration-count: var(--tw-animation-iteration-count, 1);
  animation-direction: var(--tw-animation-direction, normal);
  animation-fill-mode: var(--tw-animation-fill-mode, none);
}

[class~="data-[state=closed]:animate-out"][data-state="closed"] {
  animation-name: exit;
  animation-duration: var(--tw-animation-duration, var(--tw-duration, 0.15s));
  animation-timing-function: var(--tw-ease, ease);
  animation-delay: var(--tw-animation-delay, 0s);
  animation-iteration-count: var(--tw-animation-iteration-count, 1);
  animation-direction: var(--tw-animation-direction, normal);
  animation-fill-mode: var(--tw-animation-fill-mode, none);
}

[class~="data-[state=closed]:fade-out-0"][data-state="closed"] {
  --tw-exit-opacity: 0;
}

[class~="data-[state=open]:fade-in-0"][data-state="open"] {
  --tw-enter-opacity: 0;
}

[class~="data-[state=closed]:zoom-out-95"][data-state="closed"] {
  --tw-exit-scale: 0.95;
}

[class~="data-[state=open]:zoom-in-95"][data-state="open"] {
  --tw-enter-scale: 0.95;
}

[class~="data-[state=closed]:slide-out-to-left-1/2"][data-state="closed"] {
  --tw-exit-translate-x: -50%;
}

[class~="data-[state=closed]:slide-out-to-top-[48%]"][data-state="closed"] {
  --tw-exit-translate-y: -48%;
}

[class~="data-[state=open]:slide-in-from-left-1/2"][data-state="open"] {
  --tw-enter-translate-x: -50%;
}

[class~="data-[state=open]:slide-in-from-top-[48%]"][data-state="open"] {
  --tw-enter-translate-y: -48%;
}

@keyframes enter {
  from {
    opacity: var(--tw-enter-opacity, 1);
    transform: translate3d(
        var(--tw-enter-translate-x, 0),
        var(--tw-enter-translate-y, 0),
        0
      )
      scale3d(
        var(--tw-enter-scale, 1),
        var(--tw-enter-scale, 1),
        var(--tw-enter-scale, 1)
      )
      rotate(var(--tw-enter-rotate, 0));
    filter: blur(var(--tw-enter-blur, 0));
  }
}

@keyframes exit {
  to {
    opacity: var(--tw-exit-opacity, 1);
    transform: translate3d(
        var(--tw-exit-translate-x, 0),
        var(--tw-exit-translate-y, 0),
        0
      )
      scale3d(
        var(--tw-exit-scale, 1),
        var(--tw-exit-scale, 1),
        var(--tw-exit-scale, 1)
      )
      rotate(var(--tw-exit-rotate, 0));
    filter: blur(var(--tw-exit-blur, 0));
  }
}